<header>
  <div id="header-container">
    <a id="header-home-link" href="{{ "/" | relative_url }}">
      <img id="header-logo" src="{{ "/images/books-jacobvarner-logo.png" | relative_url }}" alt="Jacob Varner's Book Log Logo" />
      <h1 id="header-title">Jacob Varner's Book Log</h1>
    </a>
    <nav>
      <a class="nav-item" href="{{ "/" | relative_url }}">Reviews</a>
      <a class="nav-item" href="{{ "/bookshelf/year" | relative_url }}">Bookshelf</a>
      <a class="nav-item" href="https://www.instagram.com/books.jacobvarner" target="_blank"><i class="fab fa-instagram"></i></a>
      <a class="nav-item" href="https://www.twitter.com/jacobvarner" target="_blank"><i class="fab fa-twitter"></i></a>
    </nav>
  </div>
</header>
